<div class="jumbotron">
<h1>Welcome to Space++</h1>
<p>
    We are here for the productivity of anyone
    <br/>
    for any work at anytime
</p>
<p><%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %></p>
</div>
