@mixin transition($options...) {
  -webkit-transition: $options;
  -moz-transition:    $options;
  -o-transition:      $options;
  transition:         $options;
}

@mixin full_background($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*************************************************
/* SHARED CLASSES
/************************************************/

// Miscellaneous
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

