/* Colors */
$red_link: #cc0000;
$red_darker: darken($red_link, 10%);
$red_lighter: lighten($red_link, 10%);
$grayLight: #999;
$grayMediumLight: #eaeaea;

/* Font weights */
$font_light: 300;
$font_normal: 400;
$font_semibold: 600;
$font_bold: 700;

