<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <%= admin_renderer(:build_breadcrumb, :title_bar) %>
    <h2 id="page_title"><%= admin_renderer(:title) %><h2>
  </div>
  <div id="titlebar_right">
    <%= admin_arbre_tag(:action_items, admin_renderer(:action_items_for_action)) if admin_renderer(:action_items_for_action).any? %>
  </div>
</div>
